<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="container">
        <h3>Welcome</h3>
        <br>
        <button type="button" id="btnlogout">LogOut</button>
    </div>
    
    <script>
        document.getElementById("btnlogout").addEventListener('click', function() {
            window.location.href = "../index.html"; 
        });
    </script>
</body>
</html>